@use "../variables" as *;
@use "../mixins" as *;

.rsvp {
    width: 100%;
    .content {
        width: 100%;
        perspective: 1000px;
        position: relative;
        // padding: 12% 0 0%;

        .rsvp-form {
            display: block;
            padding: 0 8%;
            .header {
                .title {
                    font-size: 27px;
                    font-family: $font-lora;
                    line-height: .8;
                    margin-bottom: 5%;
                    i {
                        text-transform: unset;
                        font-family: $font-lora;
                        font-size: 22px;
                    }
                }

                .subtitle {
                    font-size: 12px;
                    line-height: 1.5;
                    margin-bottom: 10%;
                    font-family: $font-SVG-GothamLight;
                    font-style: italic;
                }
            }

            .button-group {
                display: grid;
                grid-template-columns: auto auto;
                gap: 8%;
                margin-bottom: 2%;

                .radio-wrapper {
                    position: relative;
                }

                .radio-wrapper input[type="radio"] {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                }

                .radio-label {
                    @include flex-center;
                    text-transform: uppercase;
                    padding: 3% 0;
                    height: 100%;
                    line-height: 1.2;
                    border-radius: 10px;
                    background: transparent;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    text-align: center;
                    border: solid 2px $text-color;
                    font-family: $font-SVG-gotham;
                    &:hover {
                        background: $text-color;
                        color: white;
                    }
                }

                .radio-wrapper input[type="radio"]:checked+.radio-label {
                    background: $text-color;
                    color: white;
                }
            }

            .form-group {
                margin-bottom: 4%;
                position: relative;
                font-size: 10px;

                input[type="text"],
                input[type="number"],
                textarea {
                    font-family: inherit;
                    width: 100%;
                    padding: 2% 4%;
                    border-radius: 10px;
                    background: transparent;
                    outline: none;
                    border: solid 2px $text-color;
                    line-height: 1;
                    transition: border-color 0.3s ease;
                    color: $text-color;
                    background-color: transparent;
                    font-size: 12px;
                    font-family: $font-SVG-GothamLight;
                }

                input[type="text"]:focus,
                input[type="number"]:focus,
                textarea:focus {
                    outline: none;
                }

                input[type="text"]::placeholder,
                textarea::placeholder {
                    color: #939292ff;
                }

                textarea#message {
                    aspect-ratio: 8 / 2;
                    resize: vertical;
                    padding: 2% 4%;
                    border-radius: 15px;
                }

                textarea#guest-names {
                    aspect-ratio: 9 / 1;
                    resize: vertical;
                    padding: 2% 4%;
                    border-radius: 15px;
                }


                textarea::placeholder {
                    white-space: pre-line;
                    /* Cho phép hiển thị xuống dòng trong placeholder */
                }

                .subtitle {
                    font-size: 12px;
                    text-transform: uppercase;
                    margin-bottom: 3%;
                    font-family: $font-SVG-gotham-book;
                }

                .flower1 {
                    max-width: 82px;
                    width: 100%;
                    height: auto;
                    position: absolute;
                    right: -5%;
                    bottom: 0;
                }

                &.confirm-related {
                    margin: 8% 0;
                    .button-group {
                        grid-template-columns: auto auto auto;
                        .radio-label {
                            display: block;
                            padding: 6% 0;
                            height: 100%;
                            line-height: 1.2;
                        }
                    }
                }  
                
                &.guests-number {
                    .button-group.first {
                        grid-template-columns: auto;
                        .radio-label {
                            padding: 1.8% 0;
                            height: 100%;
                            line-height: 1.2;
                        }
                    }

                    .button-group.second {
                        grid-template-columns: auto auto auto;
                        .radio-label {
                            padding: 4% 0;
                            height: 100%;
                            line-height: 1.2;
                        }
                    }
                }  

               
            }

            .submit-btn {
                width: 28%;
                padding: 2%;
                line-height: 1;
                background: $text-color;
                color: white;
                border: none;
                border-radius: 8px;
                font-weight: 600;
                font-size: 12px;
                cursor: pointer;
                text-transform: uppercase;
                transition: background 0.3s ease;
                margin: 1% 0 6%;
            }
    
            .submit-btn:hover {
                background: rgb(41, 51, 36);
                opacity: 0.9;
            }
    
            .submit-btn:active {
                transform: scale(0.98);
            }
        }
    }

    @media (max-width: 525px) {
        .content {
            .rsvp-form {
                .header {
                    .title {
                        font-size: calc((27 / 525) * 100vw);
                        i {
                            font-size: calc((22 / 525) * 100vw);
                        }
                    }
    
                    .subtitle {
                        font-size: calc((12 / 525) * 100vw);
                    }
                }
    
                .form-group {
                    font-size: calc((10 / 525) * 100vw);
                    input[type="text"],
                    input[type="number"],
                    textarea {
                        font-size: calc((12 / 525) * 100vw);
                    }
    
                    .subtitle {
                        font-size: calc((12 / 525) * 100vw);
                    }
                }
    
                .submit-btn {
                    font-size: calc((12 / 525) * 100vw);
                }
            }
        }
    }
}
