$shadow-default: 0 10px 20px rgba(0, 0, 0, 0.281);
$radius: 14px;

// Colors
$title-color: #231f20ff;
$text-color: #231f20ff;
$secondary-color: #ffffff;
$bg-color: #f8f3eb;
$active-color: #838484ff;

// Font
$font-SVG-gotham: 'SVG-gotham', sans-serif;
$font-SVG-GothamLight: 'SVG-GothamLight', sans-serif;
$font-SVG-GothamBold: 'SVG-GothamBold', sans-serif;
$font-SVG-gotham-book: 'SVG-gotham-book', sans-serif;
$font-lora: 'Lora', sans-serif;
$font-TPLeMajor: 'TPLeMajor', sans-serif;
$font-DFVNCatchyMager: 'DFVNCatchyMager', sans-serif;
$font-1FTVVIPAmsterdamSignature: '1FTVVIPAmsterdamSignature', sans-serif;
$font-ClassiqueSaigon: 'ClassiqueSaigon', sans-serif;

// Animation
$duration-fast: 0.5s;
$duration-slow: 1.2s;
